        
    <div class="footer-page">
        <div class="row icons">
            <img src="../../assets/images/fb.svg" alt=""> 
            <img src="../../assets/images/insta.svg" alt=""> 
            <img src="../../assets/images/tw.svg" alt=""> 
            <img src="../../assets/images/yt.svg" alt=""> 
        </div>
        <div class="text-grid">

            <div class="row texts">
                <div class="col-3">
                    Privacy Policy
                </div>
                <div class="col-3">
                    About Us
                </div>
                <div class="col-3">
                    Cookie Preferences
                </div>
                <div class="col-3">
                    Gift Cards
                </div>
            </div>
            <div class="row texts">
                <div class="col-3">
                    Terms of Use
                </div>
                <div class="col-3">
                    Investor Relations
                </div>
                <div class="col-3">
                    Legal Notices
                </div>
                <div class="col-3">
                    Media center
                </div>
            </div>
            <div class="row texts">
                <div class="col-3">
                    Contact Us
                </div>
                <div class="col-3">
                    Jobs
                </div>
                <div class="col-3">
                    Help Center
                </div>
                <div class="col-3">
                    Partners
                </div>
            </div>
        </div>
    </div>
    


